<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">入院登记</h1>
    </div>
    <!-- /.col-lg-12 -->

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    做成两个标签页：新入病人登记 与 出院病人重新转入！ 供用户选择
                </li>
                <li>
                    添加成功后, 给出提示，并清空表单，待用户继续填写！
                </li>
                <li>
                    若添加失败，提示失败原因
                </li>
            </ul>
        </div>

        <advice warning="在此填写一般性建议" danger="在此填写强烈要求改变的建议"/>
    </div>
</div>