<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">工作报表</h1>
    </div>

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    以标签页的形式， 展示 交班报告 日报表 ApacheII评分月报表 危重护理等
                </li>
                <li>
                    临床信息查询 中对报表的查询， 也整合到这里
                </li>
            </ul>
        </div>

        <advice warning="在此填写一般性建议" danger="在此填写强烈要求改变的建议"/>
    </div>
</div>