<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">在院明细</h1>
    </div>

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    以标签页的形式，统计所有在院病人情况。<br>
                    1、感染情况<br>
                    表格：床位信息表，病原学记录表，<br>
                    功能：查询所有在院病人的感染状态<br>
                    显示项目：病原名称、是否院感、是否耐药，感染类型，是否抗生素前送检，送检时间，登记时间；合计内容。<br>
                    2、压疮情况<br>
                    表格：床位信息表，压疮危险评估记录表、压疮记录表；<br>
                    功能：查询所有在院病人的压疮情况；<br>
                    显示项目：压疮评分结果、危险评分，评估时间，压疮部位，压疮分级、发生地点，登记时间，压疮合计。<br>
                    3、诊疗项目明细<br>
                    表格：床位信息表（在院病人情况），固定诊疗项目<br>
                    功能：显示在院病人诊疗明细<br>
                    显示项目： 1）按照床位显示：诊疗项目、开始时间、结束时间 2）按诊疗项目显示：床位号，合计<br>
                </li>

            </ul>
        </div>

        <advice warning="在此填写一般性建议" danger="在此填写强烈要求改变的建议"/>
    </div>
</div>