<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">在科病人</h1>
    </div>

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    做成两个标签页：病人与床位 与 在院明细
                </li>
                <li>
                    在院明细　显示　感染明细、诊疗明细、压疮明细　
                </li>

                <li>
                    病人与床位：根据床位展示病人信息、床位状态，可以对指定床位上的病人进行操作，操作界面通过对话框实现，参考测试程序
                    最好能支持拖拽换床的功能
                </li>
            </ul>
        </div>

        <advice warning=""
                danger="拆分成两个二级菜单 即在科病人 和 在院明细， 在原明细 可以按照病区 过滤， 病人列表 就是原来的病人与床位"/>
    </div>
</div>