<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">出科病人</h1>
    </div>

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    以标签页的形式，出科病人信息 和 补打报表 两个页面
                </li>
                <li>
                    在出科病人信息页面中，可撤销出院（针对误操作），支持回顾出科病人信息，还可以添加对病人的随访登记
                </li>
                <li>
                    补打报表?
                </li>
            </ul>
        </div>

        <advice warning="随访登记， 暂时不做；补打报表是补打住院时漏打的报表" danger="不能对已转出的病人记录进行删除，此留给管理员"/>
    </div>
</div>