<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">入科登记</h1>
    </div>
    <!-- /.col-lg-12 -->

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    添加成功后, 直接跳到在科病人管理中的病人与病床！
                </li>
                <li>
                    若添加失败，提示失败原因
                </li>
            </ul>
        </div>

        <advice warning="在此填写一般性建议" danger="在此填写强烈要求改变的建议"/>
    </div>
</div>