<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">住院管理</h1>
    </div>

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    通过多个标签页进行展示  病区管理 床位管理 床位类型管理 常用诊断管理 来源病区管理 转入类型管理
                    常见病原管理 标本类型管理 固定诊疗管理 自定义诊疗项目
                </li>
            </ul>
        </div>

        <advice warning="在此填写一般性建议" danger="在此填写强烈要求改变的建议"/>
    </div>
</div>