<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">绩效审核</h1>
    </div>

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    通过两个标签来展示：组长审核 与 科室审核
                </li>
                <li>
                    与个人绩效不同的是， 这里是审核，也就是根据个人提交上来的工作量登记进行核查，对科室考核内容进行登记
                </li>
                <li>
                    组长审核 是对 向该组长登记工作量的申请 进行审核， 分为已审核 和未审核两个组进行展示
                </li>
                <li>
                    科室审核 是对 该科室 待审核工作量 和 科室考察情况 进行审核， 因此应该分成工作量审核 和 科室审核 两个面板
                </li>
            </ul>
        </div>
    </div>
</div>