<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">员工生日查询</h1>
    </div>

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    可以查询指定时间段的员工生日，并设置提醒
                </li>
                <li>
                    提醒形式可以是 自动发布通知（所有人都可以看到）
                </li>
            </ul>
        </div>
    </div>
</div>