<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">员工信息</h1>
    </div>

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    分成两个标签 <strong>科室通讯录</strong> 和 <strong>员工生日查询</strong>
                </li>
                <li>
                    科室通讯录 按照员工分类 及 员工姓名 进行查询
                </li>
                <li>
                    员工生日查询
                    <ul>
                        <li>
                            可以查询指定时间段的员工生日，并设置提醒
                        </li>
                        <li>
                            提醒形式可以是 自动发布通知（所有人都可以看到）
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <advice warning="在此填写一般性建议" danger="在此填写强烈要求改变的建议"/>
    </div>
</div>