body {
  padding-top: 50px;
  background-color: #c7e6f8 !important;
}
@media screen and (max-width: 768px) {
  body {
    padding-top: 100px;
  }
}
#loading-bar .bar {
  background: #249ce3;
}
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 680px;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 228px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}
.navbar {
  background-color: #a3d5f3 !important;
}
.navbar .navbar-right li > a:hover,
.navbar .navbar-right li > a:focus,
.navbar .navbar-right li > a:active {
  background-color: #c7e6f8;
}
.navbar .navbar-top-links {
  margin-right: 0;
}
.navbar .navbar-top-links li {
  display: inline-block;
}
.navbar .navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar .navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar .navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar .navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar .navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar .navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar .navbar-top-links .dropdown-messages,
.navbar .navbar-top-links .dropdown-tasks,
.navbar .navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar .navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar .navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar .navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar .navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.navbar .sidebar {
  background-color: #c7e6f8 !important;
}
.navbar .sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar .sidebar .sidebar-search {
  padding: 15px;
}
.navbar .sidebar .sidebar-search input {
  background-color: #ffffff;
}
.navbar .sidebar ul li {
  border-bottom: 1px solid #ffffff;
}
.navbar .sidebar ul li a {
  color: #1a1818;
}
.navbar .sidebar ul li a:hover,
.navbar .sidebar ul li a:focus {
  background-color: #a3d5f3;
}
.navbar .sidebar ul .active {
  background-color: #a3d5f3;
}
.navbar .sidebar .arrow {
  float: right;
}
.navbar .sidebar .fa.arrow:before {
  content: "\f104";
}
.navbar .sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.navbar .sidebar .nav-second-level {
  background-color: #d9eefa !important;
}
.navbar .sidebar .nav-second-level li {
  border-bottom: none !important;
}
.navbar .sidebar .nav-second-level li a {
  padding-left: 37px;
}
.navbar .sidebar .nav-third-level {
  background-color: #ebf6fd !important;
}
.navbar .sidebar .nav-third-level li {
  border-bottom: none !important;
}
.navbar .sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media (min-width: 768px) {
  .navbar .sidebar {
    z-index: 1;
    position: absolute;
    width: 228px;
    margin-top: 51px;
  }
  .navbar .navbar-top-links .dropdown-messages,
  .navbar .navbar-top-links .dropdown-tasks,
  .navbar .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}
.login-panel {
  max-width: 600px;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
}
.login-panel .panel-heading {
  font-size: large;
}
.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}
.show-grid {
  margin: 15px 0;
}
.huge {
  font-size: 40px;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green a {
  color: #5cb85c;
}
.panel-green a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red a {
  color: #d9534f;
}
.panel-red a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow a {
  color: #f0ad4e;
}
.panel-yellow a:hover {
  color: #df8a13;
}
.breadcrumb {
  margin-top: 8px;
  margin-bottom: 8px;
}
.tab-content .panel {
  margin-top: -1px;
}
.tab-content .panel .panel-body .panel-heading .btn-group {
  margin-top: -4px;
}
.pager li.active > a,
.pager li.active > span {
  color: #eeeeee;
  background-color: #428bca;
  pointer-events: none;
}
.table-row-clicked tbody tr {
  cursor: pointer;
}
.ng-table th.text-right {
  text-align: right;
}
.ng-table th.text-left {
  text-align: left;
}
.no-selection {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.modal-header .modal-title .btn-group {
  margin-top: 1px;
}
.dialog-header-error {
  background-color: #d2322d;
}
.dialog-header-wait {
  background-color: #428bca;
}
.dialog-header-notify {
  background-color: #eeeeee;
}
.dialog-header-confirm {
  background-color: #f1f1f1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.dialog-header-error span,
.dialog-header-error h4,
.dialog-header-wait span,
.dialog-header-wait h4,
.dialog-header-confirm span,
.dialog-header-confirm h4 {
  color: #333333;
}
#tree-root .btn {
  margin-right: 10px;
}
#tree-root .angular-ui-tree-handle {
  cursor: auto;
}
#tree-root .tree-node {
  border: 1px solid #dae2ea;
  padding: 5px;
  background: #f8faff;
  color: #4e7084;
}
#tree-root .tree-node:hover {
  background-color: #e4f6f7;
}

/*# sourceMappingURL=app.css.map */