<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">个人通知</h1>
    </div>

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    通知列表与添加通知的按钮
                </li>
                <li>
                    点击添加按钮，弹出新增通知的对话框
                </li>
                <li>
                    在通知列表中可以看到与自己发表的通知列表，并可以对该通知进行修改、删除和查看通知的具体内容（弹出对话框）
                </li>
            </ul>
        </div>
    </div>
</div>