<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">请假申请与查询</h1>
    </div>

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    请假列表与申请请假的按钮
                </li>
                <li>
                    点击申请请假的按钮，弹出请假申请表单
                </li>
                <li>
                    在请假列表中可以看到与自己相关的请假信息和当前的处理状态
                </li>
            </ul>
        </div>
        <advice warning="在此填写一般性建议" danger="在此填写强烈要求改变的建议"/>
    </div>
</div>