<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">个人资料</h1>
    </div>

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    以标签页的形式，个人信息 和 账户修改 两个页面
                </li>
                <li>
                    个人信息 列出 个人相关信息
                </li>
                <li>
                    账户修改 分为 个人信息修改 密码修改 和 个人设置 三个子标题
                </li>
            </ul>
        </div>
    </div>
</div>