<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">信息管理</h1>
    </div>

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    以标签页的形式，病人信息管理 和 压疮信息查询 两个页面
                </li>
                <li>
                    在病人信息管理页面中，支持对各主要列的过滤操作，并且能够对已转出的病人记录进行删除，还可以添加对所有病人的随访登记
                </li>
                <li>
                    压疮信息查询页面中，可对压疮情况进行查询
                </li>
            </ul>
        </div>

        <advice warning="在此填写一般性建议" danger="在此填写强烈要求改变的建议"/>
    </div>
</div>