<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">其他数据统计</h1>
    </div>

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    以标签页的形式，每个标签页 完成对 <strong>其他</strong> 各种数据 的 统计
                </li>
            </ul>
        </div>

        <advice warning="在此填写一般性建议" danger="在此填写强烈要求改变的建议"/>
    </div>
</div>