<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">请假审核</h1>
    </div>

    <div class="col-lg-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <ul>
                <li>
                    通过标签页展示 组长审核 与 科室审核
                </li>
                <li>
                    组长审核 将向该组长发起的审核申请分成 待审核 和 已审核 两组列表 进行展示
                </li>
                <li>
                    科室审核 与 组长审核类似， 程序根据 员工角色 选择 展示 组长审核 或者 科室审核
                    （如果员工即是组长又是科室管理员，则同时显示两个标签）
                </li>
            </ul>
        </div>

        <advice warning="在此填写一般性建议" danger="在此填写强烈要求改变的建议"/>
    </div>
</div>